@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-[fadeIn_1s_ease-in-out_forwards] {
  animation: fadeIn 1s ease-in-out forwards;
}

/* @keyframes pulseNav {
  0% {
    background: radial-gradient(circle at 10% 20%, rgba(0, 255, 255, 0.15) 0%, transparent 20%),
                radial-gradient(circle at 80% 30%, rgba(0, 150, 255, 0.12) 0%, transparent 25%),
                radial-gradient(circle at 50% 80%, rgba(0, 255, 180, 0.1) 0%, transparent 20%);
  }
  50% {
    background: radial-gradient(circle at 20% 70%, rgba(0, 255, 255, 0.18) 0%, transparent 20%),
                radial-gradient(circle at 70% 40%, rgba(0, 150, 255, 0.15) 0%, transparent 25%),
                radial-gradient(circle at 40% 20%, rgba(0, 255, 180, 0.12) 0%, transparent 20%);
  }
  100% {
    background: radial-gradient(circle at 10% 20%, rgba(0, 255, 255, 0.15) 0%, transparent 20%),
                radial-gradient(circle at 80% 30%, rgba(0, 150, 255, 0.12) 0%, transparent 25%),
                radial-gradient(circle at 50% 80%, rgba(0, 255, 180, 0.1) 0%, transparent 20%);
  }
}

.animate-pulseNav {
  animation: pulseNav 6s ease-in-out infinite;
} */

